* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: normal;
	font-family: "TT Norms Pro", sans-serif;
	overflow-x: hidden;
	color: #fff;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #e2e2e2;
}

body::-webkit-scrollbar-thumb {
    background-color: #314725;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body *::-moz-selection {
    background: #314725;
    color: #fff;
}
  
body *::-webkit-selection {
    background: #314725;
    color: #fff;
}
  
body *::selection {
    background: #314725;
    color: #fff;
}

input::-webkit-input-placeholder {
	color: #111;
	opacity: 1;
}
input:-moz-placeholder {
	color: #111;
	opacity: 1;
}
input::-moz-placeholder {
	color: #111;
	opacity: 1;
}
input:-ms-input-placeholder {
	color: #111;
	opacity: 1;
}

/* MAIN */

main {
	background: url(../img/main_bg.svg) no-repeat center 70vh;
	background-color: #021444;
	padding-bottom: 80px;
}

section {
	margin-bottom: 100px;
}

header.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    padding: 30px 0;
    transition: all .5s ease;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.header .section__wrapper {
    max-width: 1650px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: all .5s ease;
}

a.menu__link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-right: 35px;
	border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

a.menu__link:last-child {
    margin: 0;
}

a.header__call {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
    margin-right: 70px;
}

a.btn {
    display: flex;
    border-radius: 15px;
    background: #314725;
    padding: 15px 36px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all .5s ease;
}

a.btn:hover {
    background: #111;
}

a.menu__link:hover, 
a.header__call:hover {
    border-color: #fff;
}

.top__slider.swiper {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.offer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1650px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top__slider.swiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.top__slider.swiper .swiper-slide img {
    width: 100%;
    object-fit: cover;
}

h3.subtitile {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1.title {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    margin: 15px 0 25px 0;
}

ul {
    padding: 0 0 0 30px;
}

.top__slider.swiper .swiper-slide ul li {
    color: #FFF;
    font-family: TT Norms Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header__contact {
    display: flex;
    align-items: center;
}

.top__screen a.btn {
    font-size: 24px;
    padding: 20px 105px;
    margin-top: 35px;
}

h2.title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

h2.title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

section.top__screen .section__wrapper {
    flex-direction: row;
}

h2.section__title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    max-width: 975px;
}

.img__slider.swiper {
    max-width: 1650px;
    width: 100%;
    height: 800px;
    margin: 0;
    border-radius: 15px;
}

.slider__container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.info__slider.swiper {
    max-width: 945px;
    margin: 0;
    padding-left: 140px;
}

.info__slider.swiper .swiper-slide {
    color: #fff;
    font-family: TT Norms Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.info__item {
    max-width: 520px;
}

section.top__screen {
    height: 100vh;
}

.img__slider.swiper .swiper-slide {
    position: relative;
}

h3.slide__title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slide__overlay {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,.5) 150%);
    position: absolute;
    width: 100%;
    height: 100%;
}

section.benefits .info__slider.swiper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 140px 0 0;
}


section.benefits .img__slider.swiper {
    border-radius: 15px 0 0 15px;
}

section.benefits .info__slider.swiper .swiper-slide {
    text-align: right;
    justify-content: flex-end;
}

.map__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

section.map h2.section__title {
    margin-bottom: 30px;
    text-align: left;
}

.map__wrapper {
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 600px;
    -webkit-filter: grayscale(100%);
}

.map__info {
    color: #fff;
    font-family: TT Norms Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.map__info__item {
    max-width: 600px;
}

.book__wrapper {
    display: flex;
    align-items: center;
}

.book__wrapper span {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
}

section.book img {
    position: absolute;
}

section.book {
    position: relative;
    padding-top: 120px;
}

section.book img:nth-child(1) {
    left: 0;
    top: 0px;
}

section.book img:nth-child(2) {
    right: 0;
    top: -51px;
}

section.contacts {}

section.contacts .section__wrapper {
    flex-direction: row;
    justify-content: space-between;
}

.fos {
    width: 945px;
    height: 600px;
    border-radius: 15px 0 0 15px;
    background: url(../img/fos__bg.svg) no-repeat -100px 20px;
    background-color: #091c4d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 100px;
}

footer.footer {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
}

.contacts__info {
    width: auto;
    padding-left: 135px;
}

.contacts__info h2.section__title {
    text-align: left;
}

.contacts__item {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__title {
    color: #3e5daf;
    font-size: 14px;
    margin-bottom: 5px;
}

.item__value {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.contacts__item:last-child {
    margin: 0;
}

.item__value:last-child {margin: 0;}

a.item__value {
    text-decoration: none;
    border-bottom: 1px solid;
    transition: all .5s ease;
}

a.item__value:hover {
    color: #314725;
}

section.benefits .img__slider.swiper h3.slide__title {
    left: 50px;
    right: auto;
}

form.fos__form {display: flex;flex-direction: column;}

input.fos__input {
    outline: 0;
    background: #d9dfed;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 15px;
    width: 49%;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 18px;
    color: #111;
    transition: all .5s ease;
}

.fos__inputs {
    display: flex;
    justify-content: space-between;
}

input.fos__input:hover, input.fos__input:focus {
    border-color: #ccc;
}

section.book a.btn {
    font-size: 20px;
    padding: 20px 75px;
}

section.book a.btn {
    font-size: 20px;
    padding: 20px 75px;
}

input.fos__input:hover, input.fos__input:focus {
    background: #fff;
}

input.fos__submit {
    width: 49%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #314725;
    color: #fff;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.fos__submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

input.fos__submit:hover {
    background: #111;
    color: #fff;
}

.fos__politics {
    margin-top: 20px;
    color: #fff;
}

.fos__politics a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: all .5s ease;
}

.fos__politics a:hover {
    opacity: .5;
}

h3.fos__title {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
}

.fos__text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    max-width: 60%;
    margin: 15px 0 25px 0;
}

.footer__wrapper {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 135px;
    background: #fff;
    color: #111;
}

.footer__top a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: all .5s ease;
}

.footer__top a:hover {
    opacity: .5;
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-top: 1px solid #4d5c44;
    background: #314725;
    padding: 30px 0;
}

.arrows {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    right: 50px;
    display: flex;
    margin-top: 50px;
}

.arrow {
    width: 70px;
    height: 70px;
    background: #314725;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}

.arrow svg {
    width: 30px;
}

.arrow.prev {
    transform: rotate(180deg);
    margin-right: 15px;
}

.arrow:hover {
    background: #fff;
}

.arrow svg g path {
    transition: all .5s ease;
}

.arrow:hover > svg g path {
    fill: #314725;
}

.img__slider.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__slider.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header.header.scroll .section__wrapper {
    background: #fff;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
}

header.header.scroll .section__wrapper a.logo svg path {
    fill: #021444;
    stroke: #021444;
}

header.header.scroll .section__wrapper a.menu__link,
header.header.scroll .section__wrapper a.header__call {
    color: #111;
}

header.header.scroll .section__wrapper a.menu__link:hover,
header.header.scroll .section__wrapper a.header__call:hover {
    border-color: #111;
}

header.header.scroll {
    padding: 10px 0;
}

a.logo svg {
    transition: all .5s ease;
}

header.header.scroll .section__wrapper a.logo svg {
    width: 180px;
    height: 35px;
}

.arrow.swiper-button-disabled {
    background: #616161;
    cursor: default;
}

.pagination {
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

span.swiper-pagination-bullet {
	border: 1px solid #314725;
    background: transparent;
	transition: all .5s ease;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #314725;
}

.top__slider.swiper .swiper-slide ul li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #fff;
    left: 0;
    z-index: 1;
}

.arrow.swiper-button-disabled svg path {
    fill: #959595;
}

header.header.scroll .section__wrapper a.logo svg path:nth-child(10),
header.header.scroll .section__wrapper a.logo svg path:nth-child(11) {
    fill: #314725;
    stroke: #314725;
};

.arrow svg g {
    fill: #fff;
}


.arrow.swiper-button-disabled:hover > svg g path {
    fill: #959595;
}

section.benefits img {
    position: absolute;
}

section.benefits img:nth-child(1) {
    left: 0;
    top: -25px;
}

section.benefits {
    position: relative;
    margin-bottom: 200px;
}

section.benefits img:nth-child(2) {
    right: 0;
}

.benefits__text {
    font-size: 24px;
    max-width: 500px;
    text-align: center;
}

section.map {
    display: flex;
    justify-content: center;
}

section.map .section__wrapper {
    max-width: 1650px;
    width: 100%;
}

.project__counter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.param {
    font-size: 64px;
    margin-bottom: 10px;
    line-height: 1;
}

.counter__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 49%;
    margin-bottom: 50px;
}

.text {
    font-size: 16px;
}

.map__info video {
    height: 900px;
    width: 100%;
    object-fit: cover;
}

.map__description {
    width: 49%;
}

.map__info__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    max-width: 500px;
}

.poster {
    position: absolute;
    width: 100%;
    height: 100%;
}

.poster img {
    width: 102%;
    height: 102%;
    object-fit: cover;
}

section.benefits h2.section__title {
    margin-bottom: 50px;
}

h3.section__title {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 50px 0 100px 0;
}

h3.section__title svg {
    margin-left: 10px;
}